<div class="container my-5">

    <div class="row">
        <div class="col-6">
                <div class="mb-3">
                    <label for="make" class="form-label">Make</label>
                    <input type="text" class="form-control" id="make" 
                    name="make" [(ngModel)]="airCraft.make">
                </div>
                
                <div class="mb-3">
                    <label for="model" class="form-label">Model</label>
                    <input type="text" class="form-control" id="model"
                    name="model" [(ngModel)]="airCraft.model">
                </div>
        
                <div class="mb-3">
                    <label for="registration" class="form-label">Registration</label>
                    <input type="text" class="form-control" id="registration"
                    name="registration" [(ngModel)]="airCraft.registration">
                </div>
        
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location"
                    name="location" [(ngModel)]="airCraft.location">
                </div>
    
                <div>
                    <img [src]="createImgPath(airCraft.imageUrl)" alt="profile picture" style="width:60px; height:60px;">
                </div>
        </div>
    </div>
</div>